# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Hackerrank Problem Solving\Left Rotation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
